@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family:"Arial";
    background: #ebebeb !important;
}
/*头部样式开始*/
/*头部样式结束*/

/*内容样式开始*/
#context{
    width: 100%;
}
#context .container{
    padding: 20px 50px 20px 50px;
}
#context .container .inner_box{
    background: #fdfdfe;
    border: 1px solid #e1e1e1;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    border-radius:5px ;
    padding: 5px;
}
#context .container .row1_1 {
    padding: 40px 30px 20px 45px;

}
#context .container .row1 .media{

    border-bottom: 1px dashed #eeeeee;
}
#context .container .row1_1 .media .media-body {
    padding: 0px 10px 10px 10px;
    font-size: 13px;
}
#context .container .row1 .row1_1 .media .media_1 p{
    color: gray;
}
#context .container1{
    padding: 0 50px 20px 50px;
}
#context .container1 .inner_box{
    padding: 20px 0 0 20px;

}
.inner_box .row2 {
    min-height: 398px;
    padding: 10px 10px 10px 5px;
}
.inner_box .row2 .col-md-3{
    padding-right: 0;
}
.inner_box .row2 .col-lg-3 .thumbnail{
    position: relative;
}
.inner_box .row2 .col-lg-3 h5{
    background: none repeat scroll 0 0 #333;
    bottom: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 97%;
    filter: alpha(opacity=80);
    opacity: .8
}
.course-box{
    border: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}
.course-box:hover {
    box-shadow: black 0px 0px 10px;
}
.course-box .course-des{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.course-box img{
    width: 100%;
}
.course-box .evaluate .course-icon{
    opacity: 0.6;
    width:37%;
    padding: 10px 0 10px 0px;
    text-align: left;
    vertical-align: middle;
}
.course-box .evaluate .star{
    display: inline-block;
    background: url("../../assets/img/stars.png");
    width: 80px;
    height: 16px;
    vertical-align: middle;

}
.course-box .evaluate .evaluate-count{
    display: inline-block;
    width: 20%;
    opacity: 0.7;
    text-align: right;
    vertical-align: middle;

}
.course-box .evaluate .star-1{
    background-position-y:-64px;
}
.course-box .evaluate .star-2{
    background-position-y:-48px;
}
.course-box .evaluate .star-3{
    background-position-y:-32px;
}
.course-box .evaluate .star-4{
    background-position-y:-16px;
}
.course-box .evaluate .star-5{
     background-position-y:0px;
 }
.course-box .evaluate .star-6{
    background-position-y:-80px;
}
.course-box .teacher-des{
    display: inline-block;
    position: absolute;
    right: 20px;

}
.course-img{
    display: block;
    position: relative;
}
.curse_box1{
    color: #b9b9b9;
    background: none repeat scroll 0 0 #fbfbfb;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 15px 0px 5px 5px;
    min-height: 50px;
}
.curse_box2{
    border-top: 1px solid #eee;
    color: #9b9b9b;
    display: block;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 1px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
}
.course-img h3{
    background: none repeat scroll 0 0 #333;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    height: auto;
    line-height: 25px;
    margin-bottom: 0;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    filter: alpha(opacity=80);
    opacity: .8
}
/*内容样式结束*/
@media (max-width: 992px) {
    .header{
        border: none !important;
    }
    #context .container {
        padding: 22px 0 0 0;
    }
    #context .container .row1_1 {
        padding: 10px 10px 10px 10px;
    }
    #context .inner_box .row1 {
        padding: 0;
    }
    .course-box{
        border: 1px solid #ccc;
        padding:0;
        border-radius: 4px;
    }
    #context .container .inner_box{
        padding: 20px !important;
    }
    #context .container1 .inner_box{
        margin-bottom: 20px;
    }
    .inner_box .row2 {
        padding: 0px 30px 30px 30px ;
        /*border:1px solid red;*/
    }
    .inner_box .row2 .col-md-3{
        padding: 0;
    }
    .inner_box .row2 .col-md-3{
        margin-top: 20px;
    }
    #context .container .inner_box .row1 .row1_1 .media .media-heading{
        font-size: 25px;
        padding: 5px 5px 5px 0;
    }
}